{% extends 'base_with_head.html' %}

{% load static %}

{% block main %}
    <div class='form-box'>
        <form action="{% url 'login' %}" method='post'>
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <div style="text-align:left;">
                <a href="{% url 'password_reset' %}">Forgot password?</a>
            </div>
            {% if form.errors %}
                <p class="error">Your username and password didn't match. Please try again.</p>
            {% endif %}
            <input class='aps-btn' type='submit' name='Submit' value='Login'/>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
{% endblock %}
